---
import { socialLinks } from "@/data/SocialLinks.data";

import SocialLink from "./SocialLink.astro";
---

<div class="text-left space-y-4 pb-16">
  <!-- INFORMACIÓN PERSONAL -->
  <p class="text-md md:text-lg text-[var(--white-icon)]">
    Hola, soy Manuel Jiménez
  </p>
  <div
    class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
  >
    <h1 class="title text-5xl md:text-6xl font-medium text-pretty leading-none">
      Desarrollador
      <br />
      Software
    </h1>
    <p class="description text-lg md:text-2xl text-[var(--white-icon)]">
      Apasionado por la tecnología, disfruto creando aplicaciones modernas que
      combinan buen diseño, eficiencia y soluciones reales.
    </p>
  </div>

  <!-- REDES SOCIALES -->
  <div class="flex justify-start gap-2 pt-2 md:gap-4 md:pt-6">
    {socialLinks.map((link) => <SocialLink link={link} />)}
  </div>
</div>

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const isMobile = window.innerWidth < 768;

    !isMobile &&
      gsap.from(".title", {
        y: () => gsap.utils.random(-20, 20),
        x: () => gsap.utils.random(150, -150),
        opacity: 0,
        duration: 1,
        delay: 0.5,
        ease: "bounce.out",
      });

    !isMobile &&
      gsap.from(".description", {
        y: () => gsap.utils.random(-150, 150),
        x: () => gsap.utils.random(30, -30),
        opacity: 0,
        duration: 1,
        delay: 1,
        ease: "bounce.out",
      });
  });
</script>
