@import "tailwindcss";

:root {
    --background: #101010;
    --white: #dfdfdf;
    --white-icon: #f3f3f398;
    --white-icon-tr: #ffffff10;
}

* {
    scroll-behavior: smooth;
}

@layer components {
    .card {
        @apply flex flex-col overflow-hidden rounded-xl bg-[var(--background)]/80 hover:bg-[var(--white-icon-tr)] border border-[var(--white-icon-tr)] shadow-lg transition-colors cursor-pointer;
    
        .card-image {
            @apply w-full h-56 object-cover transition-transform duration-500;
        }
    }

    .card:hover {
        .card-image {
            @apply scale-105;
        }
    }
}