---
import StackCarouselSection from "@/components/shared/carousel/StackCarouselSection.astro";

import SubTitle from "../SubTitle.astro";
import { backendStack, databaseStack, frontendStack, utilsStack } from "@/data/stack/stack-items.data";

---
<SubTitle content="Mi stack tecnológico"/>

<div class="flex flex-col gap-8 md:gap-4">
  <!-- FRONTEND -->
  <StackCarouselSection title="Frontend" items={frontendStack} />

  <!-- BACKEND -->
  <StackCarouselSection title="Backend" items={backendStack} />

  <!-- DATABASE -->
  <StackCarouselSection title="Bases de Datos" items={databaseStack} />

  <!-- UTILS -->
  <StackCarouselSection title="Utilidades" items={utilsStack} />
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);

  gsap.utils.toArray<HTMLElement>(".stack-icon").forEach((icon, i) => {
    gsap.from(icon, {
      y: 50,
      opacity: 0,
      rotation: -15,
      scale: 0.8,
      duration: 0.5,
      ease: "elastic.out(1, 0.5)", // rebote al final
      scrollTrigger: {
        trigger: icon,
        start: "top 90%",   // empieza cuando el top del icono está al 80% del viewport
        toggleActions: "play none none none",
        anticipatePin: 100
      }
    });
  });
</script>
