---
import ProjectsGrid from "@/components/shared/project/ProjectsGrid.astro";
---
<div class="max-w-5xl mx-auto">    
    <h2 class="text-3xl md:text-4xl text-[var(--white)] font-medium text-pretty leading-none w-fit">Mis proyectos</h2>

    <ProjectsGrid />
</div>