---
import ProjectsGrid from "@/components/shared/project/ProjectsGrid.astro";
import SubTitle from "@/components/shared/SubTitle.astro";
---
<div class="max-w-5xl mx-auto">
    <SubTitle content="Mis proyectos" />

    <ProjectsGrid />
</div>